In [1]:
import pandas as pd
import numpy as np

In [52]:
# loads all original data
ds = pd.read_csv('../datasets/original/usage.csv')
ds.head()

                         time  usage
0  2020-05-16T23:59:57.823000   2430
1  2020-05-16T23:59:47.327000   2430
2  2020-05-16T23:59:36.833000   2410
3  2020-05-16T23:59:26.311000   2410
4  2020-05-16T23:59:15.806000   2430

In [58]:
ds_rev = ds.iloc[::-1].copy()

In [59]:
ds_rev.reset_index(inplace=True)
del ds_rev['index']
ds_rev.head()

                         time  usage
0  2020-04-05T00:00:06.563000    880
1  2020-04-05T00:00:17.079000    850
2  2020-04-05T00:00:27.583000    830
3  2020-04-05T00:00:38.096000    850
4  2020-04-05T00:00:48.602000    860

In [65]:
ds_rev.to_csv('../datasets/processed/usage_ordered.csv', index=False)

In [66]:
# From here to process the ordered data

df = pd.read_csv('../datasets/processed/usage_ordered.csv')
df.head()

                         time  usage
0  2020-04-05T00:00:06.563000    880
1  2020-04-05T00:00:17.079000    850
2  2020-04-05T00:00:27.583000    830
3  2020-04-05T00:00:38.096000    850
4  2020-04-05T00:00:48.602000    860

In [67]:
max = df['usage'].max()
min = df['usage'].min()
max, min

(10520, -2690)

In [86]:
mult = 1.0
max_mult = max * mult
max_mult = int(max_mult)

In [87]:
# Normalize usage between [x, 0.909] with max value a bit below 1, where x is a negative value
# Note: the minimum value is not close to the max value so no worries about x < -1
df_normalized = df.copy()
df_normalized['usage'] = df_normalized['usage']/(max_mult)
df_normalized.head()

                         time     usage
0  2020-04-05T00:00:06.563000  0.083650
1  2020-04-05T00:00:17.079000  0.080798
2  2020-04-05T00:00:27.583000  0.078897
3  2020-04-05T00:00:38.096000  0.080798
4  2020-04-05T00:00:48.602000  0.081749

In [88]:
# save normalized

ds_rev.to_csv('../datasets/processed/usage_normalized_' + str(max_mult) + '.csv', index=False)

In [9]:
df = pd.read_csv('../datasets/processed/filled_gabs.csv')
df.head()

                      date  usage   day  month
0  2021-04-12 00:00:02.404  570.0  12.0    4.0
1  2021-04-12 00:00:12.911  570.0  12.0    4.0
2  2021-04-12 00:00:23.429  580.0  12.0    4.0
3  2021-04-12 00:00:33.935  600.0  12.0    4.0
4  2021-04-12 00:00:44.455  590.0  12.0    4.0

In [11]:
df_centered = df.copy()
df['usage'].mean()

1663.789249617438

In [16]:
df_centered['usage'] = df['usage'] - df['usage'].mean()
df_centered['usage'].max(), df_centered['usage'].min()

(14916.210750382563, -4153.789249617438)

In [17]:
df_centered['usage'] = df_centered['usage']/(df_centered['usage'].max())
df_centered['usage'].min(), df_centered['usage'].max()

(-0.2784748297761148, 1.0)

In [ ]:
df_centered.to_csv('../datasets/processed/usage_centered.csv', index = False)