In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [42]:
# loads all original data
df = pd.read_csv('../datasets/correct/usage.csv')
df.head()

                         date   usage
0  2021-04-12T00:00:02.404000     570
1  2021-04-12T00:00:12.911000     570
2  2021-04-12T00:00:23.429000     580
3  2021-04-12T00:00:33.935000     600
4  2021-04-12T00:00:44.455000     590

In [43]:
df['date'] = pd.to_datetime(df['date'])
times = df['date'].copy()
times.head()

0   2021-04-12 00:00:02.404
1   2021-04-12 00:00:12.911
2   2021-04-12 00:00:23.429
3   2021-04-12 00:00:33.935
4   2021-04-12 00:00:44.455
Name: date, dtype: datetime64[ns]

In [4]:
def distance(d1, d2):
    return abs((d2-d1).seconds)

In [3]:
for i in range(1, len(times)):
    diff = distance(times[i-1], times[i])
    if diff > 50:
        print(diff, i, times[i-1], times[i])

NameError: name 'times' is not defined

In [45]:
df['day'] = [x.day for x in df['date']]
df['month'] = [x.month for x in df['date']]
df.head()

                     date   usage  day  month
0 2021-04-12 00:00:02.404     570   12      4
1 2021-04-12 00:00:12.911     570   12      4
2 2021-04-12 00:00:23.429     580   12      4
3 2021-04-12 00:00:33.935     600   12      4
4 2021-04-12 00:00:44.455     590   12      4

In [50]:
index19 = df[(df['day'] == 19) & (df['month'] == 4)].index
index22 = df[(df['day'] == 22) & (df['month'] == 4)].index
index27 = df[(df['day'] == 27) & (df['month'] == 4)].index
index19

Int64Index([57554, 57555, 57556, 57557, 57558, 57559, 57560, 57561, 57562,
            57563,
            ...
            65603, 65604, 65605, 65606, 65607, 65608, 65609, 65610, 65611,
            65612],
           dtype='int64', length=8059)

In [51]:
df_ng = df.drop(index19, inplace=False)
df_ng.drop(index22, inplace=True)
df_ng.drop(index27, inplace=True)

In [52]:
df_ng.to_csv('../datasets/processed/removed_gabs.csv', index=False)

In [5]:
# Get the processed file
dfg = pd.read_csv('../datasets/processed/removed_gabs.csv')

In [6]:
dfg['date'] = pd.to_datetime(dfg['date'])

In [7]:
def skipped(diff):
    return int(round(diff/10.0) - 1)

In [10]:
gab_time_index = []
gab_size = []
times = dfg['date'].copy()
for i in range(1, len(times)):
    diff = distance(times[i-1], times[i])
    if skipped(diff) > 0:
        gab_time_index.append(i)
        gab_size.append(skipped(diff))

In [11]:
dfg.head()

                     date  usage  day  month
0 2021-04-12 00:00:02.404    570   12      4
1 2021-04-12 00:00:12.911    570   12      4
2 2021-04-12 00:00:23.429    580   12      4
3 2021-04-12 00:00:33.935    600   12      4
4 2021-04-12 00:00:44.455    590   12      4

In [16]:
usage_series = dfg['usage'].copy()

In [17]:
dfc = dfg.copy()
time_line = []
usage_line = []
offset = 0
for g in range(0, len(gab_size)):
    time_line.clear()
    usage_line.clear()
    for i in range(0, gab_size[g]):
        usage = (usage_series[gab_time_index[g]-1] + usage_series[gab_time_index[g]]) / 2
        time = dfg['date'][gab_time_index[g]-1] + (timedelta(seconds=10) * (i+1))
        print(usage, time)
        time_line.append(time)
        usage_line.append(usage)

        
    df = pd.DataFrame({"date": time_line, "usage": usage_line})
    dfc = pd.concat([dfc.iloc[:gab_time_index[g]+offset], df.iloc[:], dfc.iloc[gab_time_index[g]+offset:]])
    offset += len(df)
dfc.reset_index(drop=True)
dfc.head()

870.0 2021-04-12 12:08:30.205000
1600.0 2021-04-13 07:19:26.017000
1645.0 2021-04-13 14:04:35.711000
3210.0 2021-04-14 23:12:04.086000
-340.0 2021-04-15 10:19:26.386000
-1690.0 2021-04-15 12:08:40.538000
2025.0 2021-04-15 20:00:04.332000
-710.0 2021-04-16 12:08:41.232000
-530.0 2021-04-16 15:16:14.617000
-395.0 2021-04-16 17:09:21.716000
-1810.0 2021-04-17 13:19:26.401000
-1100.0 2021-04-18 12:08:50.888000
-115.0 2021-04-18 13:08:13.116000
860.0 2021-04-19 00:00:01.867000
-105.0 2021-04-20 12:08:55.304000
645.0 2021-04-20 17:04:11.535000
3695.0 2021-04-21 19:19:21.711000
1380.0 2021-04-23 12:09:07.202000
1920.0 2021-04-23 19:31:51.504000
1920.0 2021-04-23 19:32:01.504000
1790.0 2021-04-23 19:36:03.754000
1190.0 2021-04-23 21:53:43.243000
1245.0 2021-04-23 22:09:10.524000
990.0 2021-04-23 22:19:17.677000
1255.0 2021-04-23 22:35:07.261000
1225.0 2021-04-24 08:25:43.495000
-270.0 2021-04-24 09:17:33.829000
320.0 2021-04-24 10:33:33.702000
320.0 2021-04-24 10:33:43.702000
1890.0 2021-04-24 10:34:47.246000
1340.0 2021-04-24 10:35:50.315000
1340.0 2021-04-24 10:36:00.315000
-135.0 2021-04-24 10:37:35.240000
-735.0 2021-04-24 10:39:20.406000
5870.0 2021-04-24 20:54:05.254000
6145.0 2021-04-24 22:16:13.339000
6180.0 2021-04-24 22:20:14.957000
5650.0 2021-04-24 22:21:18.921000
5650.0 2021-04-24 22:21:28.921000
5650.0 2021-04-24 22:21:38.921000
4740.0 2021-04-24 23:14:11.965000
4690.0 2021-04-24 23:26:38.024000
1125.0 2021-04-25 10:01:32.240000
2050.0 2021-04-25 10:20:58.065000
2865.0 2021-04-25 12:09:10.885000
5415.0 2021-04-25 19:20:43.332000
3050.0 2021-04-25 21:04:11.844000
230.0 2021-04-26 01:19:22.215000
-1200.0 2021-04-26 10:28:18.629000
2180.0 2021-04-26 18:24:02.972000
2180.0 2021-04-26 18:24:12.972000
1730.0 2021-04-26 22:31:02.695000
2330.0 2021-04-26 22:34:01.343000
1895.0 2021-04-26 22:35:35.926000
1895.0 2021-04-26 22:35:45.926000
1705.0 2021-04-26 23:22:43.799000
2265.0 2021-04-27 00:00:03.141000
445.0 2021-04-28 04:19:22.987000
955.0 2021-04-28 08:06:50.290000
955.0 2021-04-28 08:07:00.290000
-590.0 2021-04-28 12:09:21.221000
-325.0 2021-04-28 15:35:07.728000
-325.0 2021-04-28 15:35:17.728000
-690.0 2021-04-28 15:35:40.465000
1500.0 2021-04-28 18:24:27.991000
1685.0 2021-04-28 18:25:10.020000
1270.0 2021-04-28 18:30:25.089000
2230.0 2021-04-28 21:58:47.517000
1135.0 2021-04-28 22:14:11.996000
2725.0 2021-04-28 23:32:49.431000
2365.0 2021-04-29 10:47:18.287000
2595.0 2021-04-29 11:09:00.151000
2315.0 2021-04-29 22:23:17.258000
1575.0 2021-04-29 22:38:20.848000
1435.0 2021-04-29 22:54:58.610000
2415.0 2021-04-30 07:19:15.536000
3545.0 2021-04-30 12:09:26.813000
225.0 2021-04-30 15:49:22.060000
3315.0 2021-04-30 21:38:44.352000
2835.0 2021-05-01 11:02:54.628000
1680.0 2021-05-01 11:08:20.311000
1680.0 2021-05-01 11:08:30.311000
2575.0 2021-05-01 12:09:27.920000
975.0 2021-05-01 15:02:09.777000
675.0 2021-05-01 15:05:38.735000
1885.0 2021-05-01 15:54:30.519000
2025.0 2021-05-01 15:55:23.064000
2090.0 2021-05-01 16:08:11.546000
7415.0 2021-05-01 20:27:34.806000
7175.0 2021-05-01 20:57:11.119000
7580.0 2021-05-01 21:04:22.008000
7580.0 2021-05-01 21:04:32.008000
7385.0 2021-05-01 21:18:04.557000
7385.0 2021-05-01 21:18:14.557000
7240.0 2021-05-01 21:59:11.632000
7160.0 2021-05-01 22:00:35.686000
7120.0 2021-05-01 22:10:03.053000
7015.0 2021-05-01 22:19:42.282000
7135.0 2021-05-01 22:22:08.321000
6970.0 2021-05-01 23:22:02.901000
2665.0 2021-05-02 08:02:32.607000
3865.0 2021-05-02 08:59:48.740000
4575.0 2021-05-02 10:19:18.435000
2580.0 2021-05-02 19:09:46.968000
4530.0 2021-05-02 19:56:02.109000
5075.0 2021-05-02 21:27:26.278000
5055.0 2021-05-02 21:33:13.100000
3500.0 2021-05-02 21:52:49.928000
2480.0 2021-05-03 01:42:35.468000
2840.0 2021-05-03 09:16:53.950000
2850.0 2021-05-03 09:17:10.775000
2850.0 2021-05-03 09:17:20.775000
2850.0 2021-05-03 09:17:30.775000
1575.0 2021-05-03 12:09:34.882000
2065.0 2021-05-03 21:04:43.795000
2065.0 2021-05-03 21:04:53.795000
2610.0 2021-05-03 21:09:17.016000
2465.0 2021-05-03 21:23:06.789000
2465.0 2021-05-03 21:40:48.037000
2370.0 2021-05-03 21:46:55.701000
2580.0 2021-05-03 22:26:40.340000
2125.0 2021-05-03 22:39:07.358000
1830.0 2021-05-03 22:46:58.881000
1235.0 2021-05-03 22:48:12.483000
1235.0 2021-05-03 22:48:22.483000
1230.0 2021-05-03 22:49:36.659000
1230.0 2021-05-03 22:49:46.659000
3570.0 2021-05-04 00:24:09.979000
1775.0 2021-05-04 00:57:26.405000
1660.0 2021-05-04 02:34:58.916000
670.0 2021-05-04 07:18:09.350000
1615.0 2021-05-04 08:51:38.598000
3295.0 2021-05-04 11:02:27.763000
-115.0 2021-05-04 13:07:08.858000
1150.0 2021-05-04 13:19:13.595000
1085.0 2021-05-04 13:21:22.821000
1085.0 2021-05-04 13:21:32.821000
1085.0 2021-05-04 13:21:42.821000
1535.0 2021-05-04 13:23:49.840000
1655.0 2021-05-04 13:27:40.927000
1900.0 2021-05-04 13:32:03.730000
1785.0 2021-05-04 13:36:57.805000
1785.0 2021-05-04 13:37:07.805000
1460.0 2021-05-04 13:37:39.910000
1460.0 2021-05-04 13:37:49.910000
1460.0 2021-05-04 13:37:59.910000
1440.0 2021-05-04 13:41:30.915000
1440.0 2021-05-04 13:41:40.915000
1440.0 2021-05-04 13:41:50.915000
2355.0 2021-05-04 13:47:17.811000
2020.0 2021-05-04 15:05:45.585000
1030.0 2021-05-04 15:56:42.837000
975.0 2021-05-04 15:57:24.896000
2040.0 2021-05-04 16:28:13.900000
3120.0 2021-05-04 17:36:42.570000
2690.0 2021-05-04 19:25:49.048000
3205.0 2021-05-04 20:30:05.612000
2170.0 2021-05-04 21:22:48.496000
3475.0 2021-05-04 21:38:23.701000
2550.0 2021-05-04 22:26:53.858000
2430.0 2021-05-04 23:10:53.576000
1660.0 2021-05-05 00:31:14.084000
330.0 2021-05-05 06:36:55.711000
1245.0 2021-05-05 07:00:23.757000
1675.0 2021-05-05 07:02:40.397000
2080.0 2021-05-05 07:24:33.991000
740.0 2021-05-05 08:12:02.227000
1345.0 2021-05-05 09:34:00.256000
1605.0 2021-05-05 10:30:14.650000
1235.0 2021-05-05 15:09:12.356000
5330.0 2021-05-05 16:18:53.969000
5330.0 2021-05-05 16:19:03.969000
5395.0 2021-05-05 16:20:08.556000
5570.0 2021-05-05 16:21:11.871000
6240.0 2021-05-05 18:03:38.525000
5005.0 2021-05-05 19:24:12.126000
5485.0 2021-05-05 19:39:58.096000
5915.0 2021-05-05 23:35:00.888000
5640.0 2021-05-06 00:03:45.444000
2175.0 2021-05-06 16:19:17.405000
1360.0 2021-05-07 12:09:44.997000
1735.0 2021-05-08 19:19:20.425000
2120.0 2021-05-09 18:05:19.618000
445.0 2021-05-10 12:09:55.214000
175.0 2021-05-10 15:30:25.985000
205.0 2021-05-10 15:30:58.371000
245.0 2021-05-10 15:32:53.903000
215.0 2021-05-10 15:33:35.658000
2630.0 2021-05-10 16:45:52.128000
2600.0 2021-05-10 22:19:17.555000
570.0 2021-05-11 05:40:00.298000
570.0 2021-05-11 05:40:10.298000
850.0 2021-05-11 05:40:42.302000
955.0 2021-05-11 22:56:51.021000
955.0 2021-05-11 22:57:01.021000
1760.0 2021-05-13 01:19:19.696000
2270.0 2021-05-13 11:44:35.539000
2045.0 2021-05-13 18:10:51.879000
2045.0 2021-05-13 18:11:01.879000
290.0 2021-05-14 09:16:49.486000
290.0 2021-05-14 09:16:59.486000
290.0 2021-05-14 09:17:09.486000
290.0 2021-05-14 09:17:19.486000
290.0 2021-05-14 09:17:29.486000
290.0 2021-05-14 09:17:39.486000
1315.0 2021-05-14 09:18:03.011000
1375.0 2021-05-14 15:45:48.874000
1700.0 2021-05-14 17:35:16.239000
2165.0 2021-05-14 17:35:36.287000
4150.0 2021-05-14 21:21:45.047000
2095.0 2021-05-15 04:19:11.675000
2610.0 2021-05-15 09:57:16.018000
1150.0 2021-05-16 12:10:13.292000
3320.0 2021-05-16 17:37:51.654000
3385.0 2021-05-16 17:38:12.611000
1780.0 2021-05-16 18:04:39.161000
1780.0 2021-05-16 18:04:49.161000
1730.0 2021-05-16 18:59:28.511000
2460.0 2021-05-16 21:52:08.699000
2450.0 2021-05-16 21:52:26.481000
370.0 2021-05-17 07:19:18.919000
90.0 2021-05-17 10:14:31.560000
2725.0 2021-05-17 12:10:15.943000
1195.0 2021-05-18 10:09:37.920000
2550.0 2021-05-18 12:10:16.927000
5280.0 2021-05-19 09:35:38.762000
5280.0 2021-05-19 09:35:48.762000
5470.0 2021-05-19 10:19:15.176000
2190.0 2021-05-19 20:53:56.331000
2145.0 2021-05-19 20:54:26.844000
2145.0 2021-05-19 20:54:36.844000
-625.0 2021-05-20 10:36:13.496000
-625.0 2021-05-20 10:36:54.509000
-710.0 2021-05-20 10:37:57.359000
-685.0 2021-05-20 10:39:52.902000
235.0 2021-05-20 10:40:35.116000
235.0 2021-05-20 10:40:45.116000
235.0 2021-05-20 10:40:55.116000
235.0 2021-05-20 10:41:05.116000
2150.0 2021-05-20 10:44:05.222000
-695.0 2021-05-20 10:55:38.549000
-425.0 2021-05-20 10:58:37.220000
-660.0 2021-05-20 11:22:46.829000
-650.0 2021-05-20 11:39:03.879000
1585.0 2021-05-20 12:13:02.360000
1585.0 2021-05-20 12:13:12.360000
1340.0 2021-05-20 12:47:00.904000
1340.0 2021-05-20 12:47:10.904000
2285.0 2021-05-20 20:15:44.463000
2725.0 2021-05-20 22:03:38.765000
2725.0 2021-05-20 22:03:48.765000
900.0 2021-05-21 11:38:33.792000
900.0 2021-05-21 11:38:43.792000
-570.0 2021-05-21 11:43:02.473000
1925.0 2021-05-21 13:19:10.538000
1620.0 2021-05-22 12:10:29.884000
6090.0 2021-05-23 15:45:03.346000
1445.0 2021-05-23 16:19:12.071000

                     date  usage   day  month
0 2021-04-12 00:00:02.404  570.0  12.0    4.0
1 2021-04-12 00:00:12.911  570.0  12.0    4.0
2 2021-04-12 00:00:23.429  580.0  12.0    4.0
3 2021-04-12 00:00:33.935  600.0  12.0    4.0
4 2021-04-12 00:00:44.455  590.0  12.0    4.0

AttributeError: 'Series' object has no attribute 'seconds'

In [18]:
dfc.to_csv('../datasets/processed/filled_gabs.csv', index=False)